**/*.orig
**/target/**
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
**/.nrepl-port
.hgignore
.hg/
**/.lein*
.cpcache/
/.jwt-token

# emacs temp files
**/#*#
**/\.#*

**/.classpath
**/.nrepl-port
**/trace.edn
.voom-like-version
**/.lsp
**/.clj-kondo/.cache
**.swp
**/.monoscope/.cache
/.tmp
