{;; see https://taoensso.github.io/timbre/taoensso.timbre.html#var-*config* for logging levels, e.g., :trace, :debug, :info, :warn, :error, :fatal, :report
 :logging {:level :trace}
 :cnr-server {:host "dns-name-or-ip-address-where-this-cpe-horde-is-running"
              :port 9000}
 :stateful-device-set {:backend :in-memory
                       :cpe-parameter-values {}
                       :instance-count 5
                       :acs-url "https://your-acs.here"
                       :mac-addr-oui "FEFEFE"}
 :tr069 {:additional-tr181-name->xsd-type {"Device.DeviceInfo.Description" "xsd:string"}}}
